.modal-test {
    display: flex;
    justify-content: center;
    background: rgb(64, 62, 80);
    color: white;
    height: auto;
    width: auto;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    padding: 40px
  }

.modal-test img {
    border-radius: 25px;
    display: block;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    font-family: Bradley Hand, cursive;
    font-weight: bold;
}

label {
    color: white;
}

